<div id="<%= dom_id(tweet) %>" class="card card-body mb-3" data-controller="inline-edit">
  <div><%= tweet.user.name %></div>
  <div class="text-muted"><small><%= tweet.created_at %></small></div>

  <div data-target="inline-edit.body" data-action="click->inline-edit#toggle"><%= tweet.body %></div>

  <%= render "form", tweet: tweet, class: "d-none" %>
</div>
